.list-group{
    justify-content: center;
    text-align: center;
    background-image:  url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NzczOTE0LWltYWdlLWpvYjYzMC1hXzEuanBn.jpg?s=OEmKYTeHqorsfD6MNZvP3lYWIqcTOg8jvYoj_B2BK64");
}